<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Flickr</title>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'flickr' %>
</head>
<h2>from "Putting Flickr on Rails" at <a href="http://www.rubyonrails.org/screencasts">http://www.rubyonrails.org/screencasts</a></h2>
<p>It would appear that the Flickr API or the ruby gems have changed enough that this app no longer worked. I installed the flickr gem and added a few minor mods to get this back on its feet.</p>
<body>
<%= yield %>
</body>
</html>
